@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #9e78cf;
  border-radius: 5px;
}

:root {
  --color-purple: #9e78cf;
  --color-white: #ffffff;
  --color-light-green: #78cfb0;
  --color-light-gray: #777777;
  --color-dark-purple: #1d1825;
  --color-deep-purple: #15101c;
  --color-black-purple: #0d0714;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;

  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body.dark-theme {
  background-color: var(--color-black-purple);
}

body.light-theme {
  background-color: #d6d6d6;
}

#container {
  width: 590px;
  min-height: 90vh;

  border-radius: 20px;
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 65px;
  margin: 10vh auto auto auto;
}

.dark {
  background-color: #1d1825;
}

.light {
  background-color: #f5f5f5;
}

@media (max-width: 1024px) {
  #container {
    width: 95%;
    padding: 50px 20px;
  }
}

#body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.tasks-list {
  width: 100%;
}

.tasks-header {
  font-size: 16px;
  font-weight: 400;
  font-size: 14px;
  margin-top: 60px;
  color: var(--color-white);
}

.tasks-header.dark{
  color: var(--color-white);
}

.tasks-header.light{
  color: black;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
